.precioTotal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100%;
}
.finCompra {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.cartNoItemText {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.cartNoItemLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-style: none;
  color: blue;
}
.vaciarCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.2rem;
}
